[flake8]
max-line-length = 100
extend-ignore = E203, E266, E501, W503, F401
exclude = 
    .git,
    __pycache__,
    docs,
    build,
    dist,
    .eggs,
    *.egg,
    .venv,
    venv,
    .pytest_cache,
    .mypy_cache,
    .tox
max-complexity = 10
per-file-ignores =
    __init__.py:F401
    tests/*:F401,F811